<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список задач</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main0.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>


<div class="form-popup" id="task-form">
    <form action="#" class="form-container">
        <h2>Добавление задачи</h2>
        <label>Название задачи: </label>
        <input type="text" name="name" value="">
        <label>Описание: </label>
        <input type="text" name="description" value="">
        <hr>
        <button class="btn" id="save-task">Сохранить</button>
<!--        <hr>-->
<!--        <button class="close-button" id="close-add-task-form">Закрыть</button>-->
    </form>
</div>

<div class="form-popup" id="task-put-form">
    <form action="#" class="form-container">
        <h2>Изменение задачи</h2>
        <label>Название задачи: </label>
        <input type="text" name="name" value="">
        <label>Описание: </label>
        <input type="text" name="description" value="">
        <hr>
        <button class="btn" id="edit-task">Сохранить</button>
<!--        <hr>-->
<!--        <button class="close-button" id="close-task-put-form">Закрыть</button>-->
    </form>
</div>

<div class="form-popup" id="task-patch-form">
    <form action="#" class="form-container">
        <h2>Изменение задачи</h2>
        <label>Название задачи: </label>
        <input type="text" name="name" value="">
        <label>Описание: </label>
        <input type="text" name="description" value="">
        <hr>
        <button class="btn" id="patch-task">Сохранить</button>
<!--        <hr>-->
<!--        <button class="close-button" id="close-task-patch-form">Закрыть</button>-->
    </form>
</div>


<h1>Список задач (<span th:text="${tasksCount}">0</span>)</h1>
<button class="open-button" id="show-add-task-form">Добавить задачу</button>
<br><br>
<div class="task-list" id="task-list">
    <div th:each="task : ${tasks}">
        <a href="#" class="task-link" th:attr="data-id=${task.id}" th:text="${task.name}"></a>
    </div>
</div>
<!--<p th:text="${someParameter}"></p>-->
</body>
</html>